table.tg
  tr
    th.tg-yw4l(rowspan='2') GEO Supplier
    th.tg-yw4l(rowspan='2') Family
    th.tg-yw4l(rowspan='2') IBMPN
    th.tg-yw4l(rowspan='2') Capacity
    th.tg-yw4l(rowspan='2') Build Year
    th.tg-yw4l(rowspan='2') Build Month
    th.tg-baqh(colspan='2') 2015
    th.tg-yw4l(rowspan='2') VINTAGE_SHIPPED_QTY
    th.tg-yw4l(rowspan='2') VINTAGE_RETURNED_QTY
  tr
    td.tg-yw4l 5
    td.tg-031e 1
  tr
    td.tg-031e(rowspan='3') A1-AAAAB
    td.tg-031e(rowspan='3') K-4
    td.tg-031e(rowspan='3') PART#
    td.tg-031e(rowspan='3') 145
    td.tg-031e(rowspan='3') 2014
    td.tg-031e 05
    td.tg-yw4l 1A
    td.tg-031e 1B
    td.tg-031e 1C
    td.tg-031e 1D
  tr
    td.tg-yw4l 04
    td.tg-yw4l 2A
    td.tg-yw4l 2B
    td.tg-yw4l 2C
    td.tg-yw4l 2D
  tr
    td.tg-yw4l 03
    td.tg-yw4l 3A
    td.tg-yw4l 3B
    td.tg-yw4l 3C
    td.tg-yw4l 3D
  tr
    td.tg-yw4l B1
    td.tg-yw4l B2
    td.tg-yw4l B3
    td.tg-yw4l B4
    td.tg-yw4l 2013
    td.tg-yw4l 02
    td.tg-yw4l 4A
    td.tg-yw4l 4B
    td.tg-yw4l 4C
    td.tg-yw4l 4D
  tr
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l 03
    td.tg-yw4l 5A
    td.tg-yw4l 5B
    td.tg-yw4l 5C
    td.tg-yw4l 5D