// footer strat here
.footer.navbar-fixed-bottom.nav-background
  .copy-right
    p.float-right
      | © #{currentYear} All rights reserved &nbsp;
      a.a-important(href='#', target='_blank') Supply Chain Singapore
  a#toTop(href='#', style='display: block;')
    span#toTopHover(style='opacity: 1;')  
// footer end here