extends layout

block content
  .homepage-container.drawer.drawer--left
    include header
    include navigation

    .container.container-table
      .row.vertical-center-row
        .text-center.col-md-8.col-md-offset-2(style='font-size:48px;font-weight:bold;color:black') 
          div#response-message.background-and-text-color
          div#homeSearchForm
            .search(style='font-size:18px')
              input#transcript(type='text', name='search', placeholder='Speak to search', style='width:350px') 
              | &nbsp;
              button.btn.btn-primary.makeSearch.ladda-button(data-style='expand-left')
                span.ladda-label Search
              a#microphone(style='padding-left:10px',href='javascript:void(0)')
                img(src='/images/mic1.png')
          form#submitSearchResult(method="GET", action="/search-result")
            input(type="hidden", name="classType", value="")
            input(type="hidden", name="partNumber", value="")
            input(type="hidden", name="vintage", value="")
        div#container-map(style='padding-top:50px')
            
    include footer
