doctype html
html
  head
    title Cognitive Supply Chain Engineering

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='cognitive supply chain engineering')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css', type='text/css', media='all')
    if page!='index'
      link(rel='stylesheet', href='/bower_components/drawer/dist/css/drawer.min.css')
      link(rel='stylesheet', href='/bower_components/ladda/dist/ladda-themeless.min.css')
  body
    block content

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/underscore/underscore-min.js')
    script(src='/javascripts/common.js')

    if page!='index'
      script(src='/bower_components/iscroll/build/iscroll.js')
      script(src='/bower_components/drawer/dist/js/drawer.min.js')
      script(src='/bower_components/ladda/dist/ladda.jquery.min.js')
      script(src='/bower_components/ladda/dist/spin.min.js')
      script(src='/bower_components/ladda/dist/ladda.min.js')
      script(src='/bower_components/highcharts/highcharts.js')
      script(src='/bower_components/highcharts/modules/exporting.js')
      script(src='/bower_components/highcharts/themes/dark-unica.js')
      script(src='/javascripts/sidebar.js')
      script(src='/javascripts/highcharts.js')
      script(src='/javascripts/highcharts-tco.js')
      script(src='/javascripts/highcharts-weibull.js')
      script(src='/javascripts/arr.js')
      script(src='/javascripts/tco.js')
      script(src='/javascripts/weibull.js')
      script(src='/javascripts/overall.js')
      script.
        Ladda.bind( '.ladda-button', { timeout: 2000 } );

    if page == 'home'
      script(src='https://d3js.org/d3.v3.min.js')
      script(src='https://d3js.org/topojson.v1.min.js')
      script(src='/javascripts/maps.js')
