header(role='banner')
  button.drawer-toggle.drawer-hamburger(type='button', style='top:60px')
    span.sr-only toggle navigation
    span.drawer-hamburger-icon
  nav.drawer-nav(role='navigation', style='top:60px')
    .drawer-brand(style="font-size:12px")
      | Cognitive Engineering
    ul.drawer-menu
      li
        a.drawer-menu-item(href='#') Home
      li
        a.drawer-menu-item(href='#') Raw Materials
      li
        a.drawer-menu-item(href='#') Supplier
      li
        a.drawer-menu-item(href='#') Manufacturing
      li
        a.drawer-menu-item(href='#') Customers