table.tg
  tr
    th.tg-yw4l(colspan='3', rowspan='2')
    th.tg-yw4l(colspan='13') yr
  tr
    td.tg-yw4l 1
    td.tg-yw4l 2
    td.tg-yw4l 3
    td.tg-yw4l 4
    td.tg-yw4l 5
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l
  tr
    td.tg-yw4l AL-12SX
    td.tg-yw4l 49Y7443
    td.tg-yw4l Shipped Qty
    td.tg-lqy6 s
    td.tg-lqy6 s
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
  tr
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l Return Qty
    td.tg-lqy6 r
    td.tg-lqy6 r
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
  tr
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l Cumm.Shipped Qty
    td.tg-lqy6 c
    td.tg-lqy6 c
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
    td.tg-lqy6
  tr
    td.tg-yw4l
    td.tg-yw4l
    td.tg-yw4l PPM
    td.tg-l2oz p
    td.tg-l2oz p
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz
    td.tg-l2oz